/* reset css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* color variables */
:root {
  --text-primary: #202020;
  --text-secondary: #FFFFFF;
  --background: #FBFBFB;
  --border-card: #CCCCCC;
  --gradient-primary: linear-gradient(135deg, #D835C5, #A11CF3);
}